body {
    background-color: rgb(160, 210, 254);
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p {
    text-shadow: 1px 1px #ff0000;
}