body {
    background-color: beige;
}

.main-body {
    display: flex;
    justify-content: center;
    align-items: center;
}

ol {
    list-style-type: georgian;
}


ul {
    list-style-type: upper-roman;
}

