body {
    background-color: beige;
}

.main-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.table {
    text-align: left;
    background-color: black;
    color: white;
    font-size: 20px;
    width: 450px;
    transition:200ms;
}


td:hover {
    cursor: pointer;
    color:rgb(177, 177, 255);
}

tr {
    background-color: rgb(83, 255, 255);
}

